<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<form>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Personal Information</h5>
      <div class="row">
        <div class="form-group col-sm">
          <label>Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Name" [ngModel]="newUser.name">
        </div>
        <div class="form-group col-sm">
          <label>Username</label>
          <input type="text" class="form-control" id="username" placeholder="Enter Username" [ngModel]="newUser.username">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm">
          <label>Email</label>
          <input type="text" class="form-control" id="email" placeholder="Enter Email" [ngModel]="newUser.email">
        </div>
        <div class="form-group col-sm">
          <label>Phone</label>
          <input type="text" class="form-control" id="phone" placeholder="Enter phone" [ngModel]="newUser.phone">
        </div>
      </div>
      <div class="form-group">
        <label>Website</label>
        <input type="text" class="form-control" id="website" placeholder="Enter Website" [ngModel]="newUser.website">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Address Information</h5>
      <div class="row">
        <div class="form-group col-sm">
          <label>Street</label>
          <input type="text" class="form-control" id="street" placeholder="Enter Street" [ngModel]="newUser.address.street">
        </div>
        <div class="form-group col-sm">
          <label>Suite</label>
          <input type="text" class="form-control" id="suite" placeholder="Enter Suite" [ngModel]="newUser.address.suite">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm">
          <label>City</label>
          <input type="text" class="form-control" id="city" placeholder="Enter City" [ngModel]="newUser.address.city">
        </div>
        <div class="form-group col-sm">
          <label>Zip Code</label>
          <input type="text" class="form-control" id="zipCode" placeholder="Enter Zip Code" [ngModel]="newUser.address.zipcode">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm">
          <label>Latitude</label>
          <input type="text" class="form-control" id="latitude" placeholder="Enter Latitude" [ngModel]="newUser.address.geo.lat">
        </div>
        <div class="form-group col-sm">
          <label>Longitude</label>
          <input type="text" class="form-control" id="longitude" placeholder="Enter Longitude" [ngModel]="newUser.address.geo.lng">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button (click)="eventCrearUsuario()">Create</button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Company Information</h5>
      <div class="row">
        <div class="form-group col-sm">
          <label>Company Name</label>
          <input type="text" class="form-control" id="companyName" placeholder="Enter Company Name" [ngModel]="newUser.company.name">
        </div>
        <div class="form-group col-sm">
          <label>Catch Phrase</label>
          <input type="text" class="form-control" id="catchPhrase" placeholder="Enter Catch Phrase" [ngModel]="newUser.company.catchPhrase">
        </div>
      </div>
      <div class="form-group col-sm">
        <label>BS</label>
        <input type="text" class="form-control" id="bs" placeholder="Enter BS" [ngModel]="newUser.company.bs">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Website</th>
            <th scope="col">Address Information</th>
            <th scope="col">Comnpany Information</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of listaUsuarios">
            <th scope="row">{{usuario.id}}</th>
            <td>{{usuario.name}}</td>
            <td>{{usuario.username}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.phone}}</td>
            <td>{{usuario.website}}</td>
            <td>{{usuario.address.street}}, {{usuario.address.suite}}, {{usuario.address.city}}, {{usuario.address.zipcode}}, {{usuario.address.geo.lat}}, {{usuario.address.geo.lng}}</td>
            <td>{{usuario.company.name}}, {{usuario.company.catchPhrase}}, {{usuario.company.bs}}</td>
            <td>
              <button (click)="eventActualizarUsuario(usuario)">Update</button>
              <button (click)="eventEliminarUsuario(usuario)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>

<router-outlet></router-outlet>
